@model SaarSystem.Models.PreventiveMaintenance

@{
    ViewData["Title"] = "Edit Preventive Maintenance";
}

<h1>Edit Preventive Maintenance</h1>

<h4>Preventive Maintenance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="PreventiveMaintenanceId" />
                <label asp-for="EquipmentId" class="control-label"></label>
                <select asp-for="EquipmentId" class="form-control" asp-items="ViewBag.Equipments"></select>
                <span asp-validation-for="EquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceDate" class="control-label"></label>
                <input asp-for="MaintenanceDate" class="form-control" />
                <span asp-validation-for="MaintenanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>