@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SaarSystem</h1>
    <p>Use this area to provide additional information.</p>
    <p>
        <a asp-controller="Equipments" asp-action="Index" class="btn btn-primary">Manage Equipments</a>
        <a asp-controller="WorkOrders" asp-action="Index" class="btn btn-secondary">Manage Work Orders</a>
        <a asp-controller="PreventiveMaintenances" asp-action="Index" class="btn btn-success">Manage Preventive Maintenance</a>
    </p>
</div>